include header.jade
  body
    .page.container
      .centerform
        h1 Sorry this is not an active blog!
        p If you want this url you can sign up with your reddit account, this app will only acess your username
        a.btn-lg.btn.btn-primary(href="/auth/reddit") Login with Your Reddit