include header.jade
  body
    h1 Account
    setup
      form
        div {{errormsg}}
        div
          input(type='text', ng-model='blog.name', placeholder='Blog Name', ng-value="test")
        div
          input(type='text', ng-model='blog.tagline', placeholder='Blog Tagline', ng-value="test")
        div
          input(type='text', ng-model='blog.url', placeholder='Blog URl', ng-value="test")

        script(type='text/javascript')
        input(type='submit', ng-click='setupUser(blog)', value='Setup Blog')
