include header.jade
body
  h1  Account For #{username}
  account
    form
      div {{errormsg}}
      div
        input(type='text', ng-model='userdata.title', placeholder='Blog Name')
      div
        input(type='text', ng-model='userdata.tagline', placeholder='Blog Tagline')
      div
        input(type='text', ng-model='userdata.url', placeholder='Blog URl')
      table
        tbody
          tr.blog-item(ng-repeat='post in userdata.posts')
            td {{post.title}}
