include header.jade
  body
    .centerform
      h1 Sign In
      p To prove the account you wish to blogify is your own please sign in with your reddit account, this app will only confirm your username, it does not have persmassion to make any modications
      a.btn-lg.btn.btn-primary(href="/auth/reddit") Login with Your Reddit