
body {
  background-image: url('../backgrounds/grey.png');
}

.page {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

.page h1 {
  font-family: 'Rubik', sans-serif;
}

.blog-role {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.blog-img {
  max-width: 100%;
  display: inline-block;
}

.blog-item {
  margin-bottom: 10px;
  background: #FFF;
  box-shadow: 0px 0px 3px rgba(0,0,0,.5);
  color: #000;
}

.centerform {
  max-width: 650px;
  position: relative;
  margin: 30px auto;
}

.blog-item  h2 {
  margin: 0px;
  font-weight: 400;
  font-size: 1.2em;
}

.post-tile {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.blog-img-holder {
  text-align: center;
}

.blog-info-holder {
  padding: 10px;
}

.form-error {
  padding: 5px 7px;
  border-radius: 3px;
  font-weight: bold;
}

.account-controls {
  margin-bottom: 25px;
}

.blog-role-container{
  background: #FFF;
  padding: 15px;
}

.submmited-thumb{
  display: inline-block;
  margin: 3px 3px 3px 0px;
}


.submmited-details {
  vertical-align: top;
}

.submmited-details-list  {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
}

.submmited-title  {
  font-weight: bold;
}


.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}













