<% include header %>
<body>
	<div class="page">
		<header>
			<h1>Reddi Blog</h1>
		</header>
			<blogroll>
				<ul class="blog-role">
					<li ng-repeat="post in postsData" class="blog-item">
						<div class="blog-img-holder">
							<a class="blog-img-link">
								<img ng-src="{{post.imgurl}}" class="blog-img"/>
							</a>
						</div>
						<div class="blog-info-holder">
							<a class="post-tile" ng-href="{{post.permalink}}"><h2>{{post.title}}</h2></a>
						</div>
					</li>
				</ul>
			</blogroll>
	</div>
</body>
</html>